


[defaults]
aws_access_key_id = Your aws_access_key_id
aws_secret_access_key = Your aws_secret_access_key
aws_region = your region
fork = 10
private_key_file = /XXX/XXXX/Downloads/XX-worker.pem

[inventory]
enable_plugins = aws_ec2, yaml
inventory = /XXXX/XXX/XX/Day20/XXX.yml
